*{
	font-size: 22;
}

#p11{
	color: #ae4d2a;
}
#p21{
	color: #c79662;
}
#p31{
	color: #dbbb9b;
}
#p41{
	color: #cd7e26;
}
#p51{
    color: #93df14;
}
#p61{
	color: #1a8971;
}
#p71{
	color: #402886;
}
#p81{
	color: #19a756;
}
#p91{
	color: #efb70a;
	
}


#b1{
	background-color: #223918;
}

#b2{
	background-color: #5f0e4e;
}

#b3{
	background-color: #6b5619;
}